<div class="create-body">

    <mat-card class="card-form1">
      <mat-card-header class="form-heading">
  
        <mat-card-title>EDIT TAG</mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content class="card-content1">
  
        <form #myfrom1>
          <div class="form-group">
            <div class="form-input">
              <div class="taglable">
                <label for="usr">Name *</label>
              </div>
              <div class="inputbox">
                <input type="text" class="form-control nameinput" placeholder="Enter tag Name" name='t' 
                  [(ngModel)]='name'>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-input">
              <div class="taglable">
                <label for="usr">website </label>
              </div>
              <div class="inputbox">
                <input type="text" class="form-control nameinput" placeholder="Enter tag Name" name='s' [(ngModel)]='url'>
              </div>
            </div>
          </div>
  
  
          <div class="form-group">
            <div class="form-input">
              <div class="taglable">
                <label for="usr">Tag Type</label>
              </div>
              <div class="inputbox">
                <select class="form-control" id="exampleFormControlSelect1" (change)='hideshowtrigerbulde($event)'>
                  <option value='Javascript'>javascript</option>
                  <option value='Image'>image</option>
                </select>
  
              </div>
  
  
            </div>
          </div>
  
  
          <div class="form-group">
            <div class="form-input">
              <div class="taglable">
                <label for="usr">Status *</label>
              </div>
              <div class="inputbox">
                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" 
                  [(ngModel)]='state1'>
                  <mat-button-toggle value=true>Inactive</mat-button-toggle>
                  <mat-button-toggle value=false>Active</mat-button-toggle>
  
                </mat-button-toggle-group>
  
              </div>
  
            </div>
          </div>
  
          <div class="form-group">
            <div class="form-input">
              <div class="taglable">
                <label for="usr">Platfrom</label>
              </div>
              <div class="inputbox">
                <select class="form-control" id="exampleFormControlSelect1" (change)='dismemberidinput($event)'>
                  <option value=1>Vizible</option>
                  <option value=2>Appenexus</option>
  
                </select>
  
              </div>
            </div>
          </div>
  
          <div *ngIf="showmemberidinput" class="form-group">
            <div class="form-input">
              <div class="taglable">
                <label for="usr">Member id*</label>
              </div>
              <div class="inputbox">
                <input type="number" class="form-control nameinput" placeholder="Enter Member id " name="h"
                  [(ngModel)]='memberid'>
              </div>
            </div>
          </div>
  
  
        </form>
  
      </mat-card-content>
  
    </mat-card>
  
  
  
  
  
    <mat-accordion *ngIf="showtrigerbulde">
      <mat-expansion-panel hideToggle>
  
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
  
            <div>
  
              <div class="panel-title1">
  
                Trigger Builder
  
              </div>
  
              <!-- <br> -->
              <div class="panel-description">
  
                Use this space for configuring triggers
              </div>
  
            </div>
          </mat-panel-title>
          <mat-panel-description>
  
            <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form #myfrom2="ngForm">
  
          <!-- {{myfrom2.value|json}} -->
          <div class="panel" [id]='index' *ngFor="let item of numberofpanel let index=index ">
  
            <div class="first">
              <div class="category">
                CATEGORY
              </div>
              <div class="category-input">
                <div class="form-group">
                  <!-- public memberid;
                  public category;
                  public operator;
                  public value;
                  public name_triger;
                  public segment_id;
                  public sync; -->
  
  
                  <div class="inputbox-panel">
                    <select class="form-control" id="exampleFormControlSelect1" name='category'  [(ngModel)]='category'  [value]=2>
                      <option value=1 disabled="true" class="listoption">Page</option>
                      <option value=2 >Page URL</option>
                      <option value=3 >Ref URL</option>
                      <option disabled="true" class="listoption">Button/Link</option>
                      <option value=4 >Id</option>
                      <option value=5 >Name</option>
                      <option value=6 >Class</option>
                      <option value=7>href</option>
  
                    </select>
                  </div>
  
                </div>
              </div>
  
  
            </div>
  
            <div class="first">
              <div class="category">
                OPERATOR
  
              </div>
              <div class="category-input">
                <div class="form-group">
  
  
                  <div class="inputbox-panel">
                    <select class="form-control" id="exampleFormControlSelect1" name='operator' [(ngModel)]='operator'>
                      <option value=1>Equals</option>
                      <option value=2>Doese not equal</option>
                      <option value=3 > Contain</option>
                      <option value=4 >Doese not contain </option>
                      <option value=5 >start with</option>
                      <option value=6 >Ends with</option>
  
                    </select>
                  </div>
  
                </div>
              </div>
  
  
            </div>
            <div class="first">
              <div class="category">
                VALUE
  
              </div>
              <div class="category-input">
                <div class="form-group">
  
  
                  <div class="inputbox-panel">
                    <input type="text" class="form-control nameinput" placeholder="Enter tag Name"  name='value'    [(ngModel)]='value'>
  
                  </div>
  
                </div>
  
              </div>
  
            </div>
  
  
            <div class="first">
              <div class="category">
                NAME
  
              </div>
              <div class="category-input">
                <div class="form-group">
  
  
                  <div class="inputbox-panel">
                    <input type="text" class="form-control nameinput" placeholder="Enter tag Name" name='name'
                      [(ngModel)]='name_triger'>
                  </div>
  
                </div>
  
              </div>
  
  
            </div>
            <div class="first">
              <div class="category">
                SEGMENT ID
  
              </div>
              <div class="category-input">
                <div class="form-group">
  
  
                  <div class="inputbox-panel">
                    <input type="number" class="form-control nameinput" placeholder="Enter tag Name" name='segment_id'
                      [(ngModel)]='segment_id'>
                  </div>
  
                </div>
  
              </div>
  
  
            </div>
  
            <div class="sync">
              <div class="sync-name">
                SYNC
  
              </div>
              <div class="category-input">
  
                <mat-checkbox class="example-margin" name='sync' [(ngModel)]='sync'>Checked</mat-checkbox>
  
              </div>
  
  
            </div>
  
            <div class="action">
              <div class="sync-name">
  
  
              </div>
              <div class="action-button">
                <span class="material-icons actions" (click)='extentendpanel($event)'>
                  control_point
                </span>
                <span class="material-icons actions" (click)='deleteextentendpanel($event,index)'>
                  cancel
                </span>
  
              </div>
  
  
            </div>
  
          </div>
  
  
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  
    <!--  -->
    <mat-accordion *ngIf="!showtrigerbulde">
      <mat-expansion-panel hideToggle>
  
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <div>
              <div class="panel-title1">
  
                Macros Builder
  
              </div>
  
              <!-- <br> -->
              <div class="panel-description">
  
                Use this space for configuring triggers
              </div>
  
            </div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <table>
          <tr>
            <th> </th>
            <th>Macro</th>
            <th>Description</th>
          </tr>
          <tr [id]='index' *ngFor="let item of Macros let index=index">
            <td>
              <mat-checkbox class="example-margin"></mat-checkbox>
            </td>
            <td>{{item.value}}</td>
            <td>{{item.description}}</td>
          </tr>
        </table>
  
      </mat-expansion-panel>
    </mat-accordion>
  
    <mat-accordion *ngIf="!showtrigerbulde" class="custom_macros">
      <mat-expansion-panel hideToggle>
  
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title>
            <div>
              <div class="panel-title1">
                Custom Macros
              </div>
  
            </div>
          </mat-panel-title>
          <mat-panel-description>
  
          </mat-panel-description>
        </mat-expansion-panel-header>
  
        <div class="panel" [id]='index' *ngFor="let item of numberofmacrospanel let index=index ">
  
          <div class="first">
            <div class="category">
  
              Custom Key
            </div>
            <div class="category-input">
              <div class="form-group">
  
  
                <div class="inputbox-panel">
                  <input type="text" class="form-control nameinput" placeholder="Custom Key">
                </div>
  
              </div>
  
            </div>
  
          </div>
  
  
          <div class="first">
            <div class="category">
              VALUE
  
            </div>
            <div class="category-input">
              <div class="form-group">
  
  
                <div class="inputbox-panel">
                  <input type="text" class="form-control nameinput" placeholder="Enter value">
                </div>
  
              </div>
  
            </div>
  
  
          </div>
  
  
  
          <div class="action">
            <div class="sync-name">
  
  
            </div>
            <div class="action-button">
              <span class="material-icons actions" (click)='extendcustommacros($event)'>
                control_point
              </span>
              <span class="material-icons actions" (click)='delextendcustommacros($event,index)'>
                cancel
              </span>
  
            </div>
  
  
          </div>
  
        </div>
  
      </mat-expansion-panel>
    </mat-accordion>
  
    <div class="bottom-action">
  
      <div class="bottom-button">
  
        <button mat-button color="warn" (click)='gotohomepage()'>Back</button>
      </div>
      <div class="bottom-button">
        <button mat-button color="warn" type="submit" (click)='clearform(myfrom1)'>Reset</button>
      </div>
      <div class="bottom-button">
        <button mat-button color="warn" (click)='onSubmit()'>Save</button>
      </div>
    </div>
  
  </div>
  