<nav class="navbar navbar-dark bg-dark nav">

  <div class="name">
    Vizibl CDP
  </div>

  <div class="action">
    <div class="help">
      Help
    </div>
    <span class="material-icons account">
      account_circle
    </span>



  </div>
</nav>

<div class="container1">

  <div class="sidebar">
    <ul class="list-group">
      <li class="list-group-item list-header">SOURCE OF DATA</li>
      <li class="options" (click)='explore()'>


        <span class="material-icons list-icon">
          label
        </span>
        <div class="option-name">

          Tags
        </div>

      </li>


      <li class="options">

        <span class="material-icons list-icon">
          backup
        </span>

        <div class="option-name">
          File upload
        </div>

      </li>
      <li class="bar"></li>

    </ul>


  </div>



  <div class="table-side">

<router-outlet></router-outlet>

  
  </div>


</div>
