.nav {
  display: flex;

  height: 45px;
  font-size: 14px;
  justify-content: space-between;
}

.account {
  display: flex;
  color: white;
  width: 1px;
}

.action {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-right: 5em;
}

.name {
  display: flex;
  color: white;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  margin-left: 3em;
}

.help {
  display: flex;
  margin-right: 1em;
}

/* container */


.container1{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin-left: 0em;
    padding: 0em;
    
}
.sidebar{
    display: flex;
    width: 200px;
    background-color: #3f3f3f;
    position: relative;

    height: 100%;

}

.list-header{
    background-color:#3f3f3f ;
    font-size: 14px;
    font-weight: 700;
    color: #999;
    margin: 3px 0 0 10px;

}
.options{
    display: flex;
    justify-content: center;
    color: white;
    margin: 5px 0 0;
    height: 32px;
    padding: 6px;

}
.icons{
    display: flex;
    justify-content: flex-end;
    width: 10px;
}
.list-icon{
    display: flex;
    color: #f8a328;
    /* margin-right: 1em; */
}
.option-name{
    display: flex;
    justify-content: flex-start;
    margin-left: 1em;
}
.bar{
    height: 0;
    margin: 10px 0 15px;
    border-bottom: 1px solid #545454;

}

.table-side{

    width: 100%;
    height: 100%;
    background-color: #f5f5f5;

}


