.card-form1 {
    /* display: flex; */
    padding: 0em;
    margin: 15px 7px 5px 8px;
  
  }
  
  .form-heading {
  
    display: flex;
    background-color: #f5f5f5;
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
    font-size: 19px;
    margin-bottom: 10px;
    color: #e96c27;
    background: #f5f5f5;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 100;
  }
  
  .card-content1 {
    display: flex;
    background-color: white;
  }
  
  .nameinput {
    display: flex;
    padding: 1em;
    font-family: Roboto, sans-serif;
    font-size: 13px !important;
  }
  
  .form-input {
    display: flex;
  
  }
  
  .inputbox {
    width: 25em;
    font-size: 13px;
  }
  
  .taglable {
    display: flex;
    width: 5em;
    margin-left: 3em;
  
  }
  
  .panel-header {
  
    font-size: 10px;
  
  }
  
  .panel-description {
    display: flex;
  
    font-size: 10px;
  }
  
  .panel-title {
    display: flex;
  
    font-size: 17px;
  }
  
  .panel-title1 {
    display: flex;
  }
  
  .panel {
    display: flex;
    flex-direction: row;
  }
  
  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18em;
  
    margin: .5em;
    margin-top: 5px;
  }
  
  .category {
    display: flex;
  
    margin-top: 5px;
    justify-content: center;
  }
  
  .inputbox-panel {
    display: flex;
    width: 100%;
    margin-top: 1em;
  }
  
  .sync {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 11em;
    margin-top: 0em;
  
  }
  
  .action {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    margin: .5em;
  }
  
  .bottom-action {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
  }
  
  .bottom-button {
    display: flex;
    margin: 1em;
    background-color: white;
  
  }
  
  /*  */
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .listoption {
    display: flex;
    justify-content: flex-start;
    margin: 1em;
  }
  
  .actions {
    display: flex;
    margin: 10px;
  }
  
  .action-button {
    display: flex;
    flex-direction: row;
  }
  
  .custom_macros {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  
  }
  